:host{
  display: block;
  z-index: 3;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #309c69;
  height: 4rem;
  .user-info {
    display: flex;
    align-items: center;
    span{
      margin-right: 0.5rem;
    }
    mat-icon {
      transform: scale(1.4);
    }
  }
}
