:host {
  display: block;
  width: 50%;
  margin: 3rem auto 0;
}

mat-card {
  width: 500px;
}

mat-card-header {
  color: rgb(118, 248, 168);
}

mat-card-content {
  margin: 0;
  display: grid;
  h1 {
    text-align: center;
  }
}

h1 {
  text-align: center;
}


  button {
    width: 100%;
    background-color: rgba(#fff,0.1);
  }

